<nav class="navbar navbar-expand-lg bg-body-tertiary dropdown-center">
  <div class="container-fluid">
    <a class="navbar-brand" href="login">"<%=loggedInUsername %>" </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <% if (loggedInAccountType === 'admin') { %>
            <li class="nav-item">
                <a class="nav-link" href="/userList">User List</a>
            </li>
        <% } else { %>
            <li class="nav-item">
                <span class="nav-link disabled">User List</span>
            </li>
        <% } %>
        </li>
      </ul>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false"></button>
        <ul class="dropdown-menu dropdown-menu-end">
          <form id="logOut" action="/logOut" method="POST">
            <button class="btn">Log out</button>
            <input name="userId" type="hidden" value="<%=loggedInId %>" />
          </form>
        </ul>
      </div>
    </div>
  </div>
</nav>
