<div class="toast" id="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
    <div class="toast-header">
      <strong class="mr-auto">Notification</strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
        123123123123123
        <% if (messages.length > 0) { %
            iasjdoiasjdoasdjioasoidjasoidjioads
      <!-- Message content will be inserted here -->
      <% } %>
    </div>
  </div>